<div class="container">
  <h1 class="mb-3">Edit Student</h1>

  <div class="row">
    <div class="col-6">
      <form #form="ngForm" (ngSubmit)="updateStudent()">
        <div class="mb-3">
          <label for="name">ID</label>
          <input
            type="text"
            class="form-control"
            id="id"
            name="id"
            readonly
            [(ngModel)]="studentsDetails.id"
          />
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            [(ngModel)]="studentsDetails.name"
          />
        </div>
        <div class="mb-3">
          <label for="name">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            [(ngModel)]="studentsDetails.email"
          />
        </div>
        <div class="mb-3">
          <label for="name">Phone</label>
          <input
            type="number"
            class="form-control"
            id="phone"
            name="phone"
            [(ngModel)]="studentsDetails.phone"
          />
        </div>
        <div class="mb-3">
          <label for="name">Faculty</label>
          <input
            type="text"
            class="form-control"
            id="faculty"
            name="faculty"
            [(ngModel)]="studentsDetails.faculty"
          />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteStudent(studentsDetails.id)"
        >
          Delete
        </button>
      </form>
    </div>
  </div>
</div>
